@model CapaEntidad.EntServicio

@{
    Layout = "~/Views/shared/bAdmin.cshtml";
    ViewBag.Title = "Editar Servicio";
}

<h2>Editar Servicio</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="editor-label d-none">
        @Html.LabelFor(model => model.ServicioId)
        @Html.EditorFor(model => model.ServicioId)
        @Html.ValidationMessageFor(model => model.ServicioId)
    </div>

    <div class="editor-field">
        <label>Nombre del Servicio </label>
        @Html.TextBoxFor(model => model.NombreServicio, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NombreServicio)
    </div>

    <div class="editor-field">
        <label>Precio del Servicio</label>
        @Html.TextBoxFor(model => model.PrecioServicio, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PrecioServicio)
    </div>
   
    <div class="mt-3">
        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("ListarServicio")"><i class="fa fa-step-backward"></i> Atrás</a>
        <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-pencil"></i> Guardar</button>
    </div>

}

@section script{
    <script>
        $("#opc2").addClass("active");
    </script>
}