@model CapaEntidad.EntPago

@{
    Layout = "~/Views/shared/bCte.cshtml";
    ViewBag.Title = "Realizar Pago de Contrato -  Karito Scrap";
}

<h2>Registrar Pago</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <input type="hidden" name="ContratoId" value="@ViewBag.ContratoId" />


    <div class="form-group">
        <label>Monto restante</label>
        <input class="form-control" type="text" name="name" value="@ViewBag.MontoRestante" readonly />
    </div>


    <div class="editor-field">
        <label>Monto a Pagar</label>
        @Html.TextBoxFor(model => model.MontoPagado, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MontoPagado)
    </div>

    <div class="mt-3">
        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("ListarContrato","Contrato")"><i class="fa fa-step-backward"></i> Atrás</a>
        <button class="btn btn-sm btn-success"><i class="fa fa-credit-card"></i> Pagar</button>
    </div>
}

@section script{
    <script>
        $("#opc2").addClass("active");
    </script>
}