@model CapaEntidad.EntTematica

@{
    Layout = "~/Views/shared/bAdmin.cshtml";
    ViewBag.Title = "Editar Temática";
}

<h2>Editar Temática</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <legend></legend>


    <div class="editor-field d-none">
        @Html.EditorFor(model => model.TematicaId)
        @Html.ValidationMessageFor(model => model.TematicaId)
    </div>

    <div class="editor-label">
        <label> Nombre de Temática</label>
        @Html.TextBoxFor(model => model.NombreTematica, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NombreTematica)
    </div>

    <div class="mt-3">
        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("ListarTematica")"><i class="fa fa-step-backward"></i> Atrás</a>
        <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-pencil"></i> Guardar</button>
    </div>

}



@section script{
    <script>
        $("#opc1").addClass("active");
    </script>
}