@model CapaEntidad.EntTematica

@{
    Layout = "~/Views/shared/bAdmin.cshtml";
    ViewBag.Title = "Insertar Temática";
}


<h2>Agregar Temática</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <div class="form-group">
        <label>Nombre de Temática</label>
        @Html.TextBoxFor(model => model.NombreTematica, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NombreTematica)
    </div>
    <div>
        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("ListarTematica")"><i class="fa fa-step-backward"></i> Atrás</a>
        <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-save"></i> Agregar</button>
    </div>
   
    



}

@section script{
    <script>
        $("#opc1").addClass("active");
    </script>
}