@model IEnumerable<CapaEntidad.EntTematica>

@{
    Layout = "~/Views/shared/bAdmin.cshtml";
    ViewBag.Title = "Listar Tematicas";
}

<h2>Temáticas</h2>
<hr />
<p>

    <a class="btn btn-sm btn-success" href="@Url.Action("InsertarTematica", "Tematica")"><i class="fa fa-plus"></i> Agregar Temática</a>
</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de Temática</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TematicaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreTematica)
                </td>
                <td>
                    <a class="btn btn-sm btn-warning text-white" href="@Url.Action("EditarTematica",new { item.TematicaId })"><i class="fa fa-pencil"></i> Editar</a>
                    <a class="btn btn-sm btn-danger text-white" href="@Url.Action("BorrarTematica",new { item.TematicaId })"><i class="fa fa-trash-o"></i> Editar</a>
                </td>
            </tr>
        }
    </tbody>



</table>
@section script{ 
<script>
    $("#opc1").addClass("active");
</script>
}