@model CapaEntidad.EntUtileria

@{
    Layout = "~/Views/shared/bAdmin.cshtml";
    ViewBag.Title = "Insertar Utilería";
}

<h2>Agregar Utilería</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(model => model.NombreUtileria, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NombreUtileria)
    </div>
    <div class="row">
        <div class="col-4">
            <label>Color</label>
            @Html.TextBoxFor(model => model.ColorUtileria, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ColorUtileria)
        </div>
        <div class="col-4">
            <label>Ancho</label>
            @Html.TextBoxFor(model => model.Ancho, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.Ancho)
        </div>
        <div class="col-4">
            <label>Largo</label>
            @Html.TextBoxFor(model => model.Largo, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.Largo)
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>Alto</label>
            @Html.TextBoxFor(model => model.Alto, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.Alto)
        </div>
        <div class="col-4">
            <label>Stock</label>
            @Html.TextBoxFor(model => model.StockUtileria, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.StockUtileria)
        </div>
        <div class="col-4">
            <label>Precio</label>
            @Html.TextBoxFor(model => model.PrecioUtileria, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.PrecioUtileria)
        </div>
    </div>

    <div class="mt-3">
        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("ListarUtileria")"><i class="fa fa-step-backward"></i> Atrás</a>
        <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-save"></i> Agregar</button>
    </div>

}

@section script{
    <script>
        $("#opc3").addClass("active");
    </script>
}