@model CapaEntidad.EntProveedor

@{
    Layout = "~/Views/shared/bAdmin.cshtml";
    ViewBag.Title = "Insertar Proveedor";
}

<h2>Agregar Proveedor</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(model => model.NombreProveedor, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NombreProveedor)
    </div>

    <div class="row">
        <div class="col-6">
            <label>Direccion</label>
            @Html.TextBoxFor(model => model.DireccionProveedor, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DireccionProveedor)
        </div>
        <div class="col-6">
            <label>Celular</label>
            @Html.TextBoxFor(model => model.CelularProveedor, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.CelularProveedor)
        </div>
    </div>


    <div class="mt-3">
        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("ListarProveedor")"><i class="fa fa-step-backward"></i> Atrás</a>
        <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-save"></i> Agregar</button>
    </div>

}

@section script{
    <script>
        $("#opc4").addClass("active");
    </script>
}