@model CapaEntidad.EntContrato

@{
    Layout = "~/Views/shared/bCte.cshtml";
    ViewBag.Title = "Detalle de  Contrato -  Karito Scrap";
}

<h2>Detallae de Contrato</h2>
<div class="row">
    <div class="col-4">
        <label>Fecha de Contrato</label>
        @Html.TextBoxFor(model => model.FechaContrato, new { @class = "form-control", @readonly = "" })
    </div>
    <div class="col-4">
        <label>Fecha de Evento</label>
        @Html.TextBoxFor(model => model.FechaEvento, new { @class = "form-control", @readonly = "" })

    </div>
    <div class="col-4">
        <label>Temática</label>
        @Html.TextBoxFor(model => model.Paquete.Tematica.NombreTematica, new { @class = "form-control", @readonly = "" })

    </div>

</div>
<div class="row">
    <div class="col-6">
        <label>Monto Cancelado</label>
        @Html.TextBoxFor(model => model.MontoCancelado, new { @class = "form-control", @readonly = "" })
    </div>
    <div class="col-6">
        <label>Monto Total</label>
        @Html.TextBoxFor(model => model.MontoTotal, new { @class = "form-control", @readonly = "" })
    </div>

</div>

<div class="row">
    <div class="col-6">
        <label>Servicio</label>
        @Html.ListBox("cboServicios", ViewBag.listaServicios as MultiSelectList, new { @class = "form-control" })
    </div>
    <div class="col-6">
        <label>Utilería</label>
        @Html.ListBox("cboUtileria", ViewBag.listaUtileria as MultiSelectList, new { @class = "form-control" })
    </div>

</div>
<div class="mt-3">
    <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("ListarContrato")"><i class="fa fa-step-backward"></i> Atrás</a>
</div>
@section script{
    <script>
        $("#opc2").addClass("active");
    </script>
}