@model IEnumerable<CapaEntidad.EntContrato>

@{
    Layout = "~/Views/shared/bCte.cshtml";
    ViewBag.Title = "Listar Contrato -  Karito Scrap";
}

<h2>ListarContrato</h2>


<table>
    <thead>
        <tr>

            <th>
                <input type="hidden" name="UsuarioId" value="@ViewBag.usuario.UsuarioId" />
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoCancelado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoCancelado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEvento)
                </td>
                <td>
                    
                    @Html.ActionLink(" Realizar Pago", "../Pago/InsertarPago", new { item.ContratoId, item.MontoTotal, item.MontoCancelado }, new { @class = "btn btn-sm btn-success" })
                    @Html.ActionLink("Detallar Contrato", "DetallarContrato", new { item.ContratoId }, new { @class = "btn btn-sm btn-primary" })

                </td>
            </tr>
        }
    </tbody>
</table>

@section script{
    <script>
        $("#opc2").addClass("active");
    </script>
}